*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: grey;
    
   
}
.big-box{
  background-image: linear-gradient( to right , rgb(20, 67, 93) , rgb(36, 150, 203) );
  max-width: 500px;
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search-bar{
  align-self: center;
  justify-self: center;
    /* margin-top: 100px; */
    width: fit-content;
    height: fit-content;
    
}
.search-bar input{
    border: 0;
    margin-left: 50px;
    background:rgb(121, 203, 254) ;
    color: rgb(37, 150, 188);
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search-bar button{
    border: 0;
    background:rgb(97, 155, 248) ;
   outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
   cursor: pointer;
}
.search-bar button img{
    width: 16px;}
    weather-icon{
      width: 170px;
      margin-top: 30px;
    }
    .weather h1{
      font-size: 80px;
      font-weight: 500;
    }
    .weather h2{
      font-size: 45px;
      font-weight: 400;
      margin-top: -10px;
    }
    .details{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin-top: 50px;
    }
    .col{
      display: flex;
      align-items: center;
      text-align: left;
    }
    .col img{
      width: 40px;
      margin-right: 10px;
    }
    .humidity, .wind{
      font-size: 28px;
      margin-top: -6px;

    }
    .weather{
      display: none;
    }
    .error{
      text-align: center;
      margin-left: 10px;
      font-family: 14px;
      margin-top: 10px;
      display: none;
    }
/* }
.input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  } */

  