@font-face {
    font-family: 'Aquire';
    src: local('Aquire'), url('../Components/fonts/Aquire-BW0ox.otf') format('opentype');
  }
html{
    scroll-behavior: smooth;
}
body{
background-color:#0d0e23;
overflow-x: hidden;
}
  
.header {
    background-color: #333;
    position: sticky;
    top: 0%;
    display: flex;
    margin-top: -5px;
    flex-direction: row;
    height: auto;
    align-items: center;
    width: 100%;
    z-index: 7;
    height: 10vh;
    
}

.navitems{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    align-items: center;
    top: -5px;
    padding: 10px 20px;
}
.navToggle{
    display: none;
}
  
 a {
    text-decoration: none;
    color: #FFF5D9;
}
 a:hover{
    text-decoration: underline;
  }
.time{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color:#632F0B;
    color:#ffffff;
}
.page1{ 
overflow: hidden;
   height: 100vh;
   position: relative;
   width: 100%;
   
   
}
.container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info {
    width: 130px;
    margin-top: -30px;
    padding: 10px;
    box-sizing: border-box;
    align-self:self-start;
    border: #fff;
    background-color:#FFF5D9;
}

.learn{
    display: none;
    
  

}
.para button:hover{
    border-radius: 20px;
}

  
  
  
  @keyframes view{
    from{transform: translateX(-100%);}
    to{transform: translateX(0%);}

  }
.text{

    grid-column: 1;
    line-height: normal;
    height: 70vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
    position:relative;
    font-family: 'Aquire', sans-serif;
    font-weight:0;
    font-size:2.3em;
    text-align:center;
    padding-top: 70px;
  
    
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../Components/elements/smth2.jpg");
    background-position: center;
    box-shadow: inset 200px 200px 300px 300px rgba(0,0,0,0.6);
    background-size: cover;
   
    padding: 50px;
    height: 110vh;
    background-repeat: repeat-y;
    grid-column: 2;
}

::-webkit-scrollbar{
    display: none;
}
.text h1{
    line-height: 10px;
    animation: view 2s linear 0.5s 1 forwards;
    color:#FFF5D9;
   
    
}
.para p{
    
    width: auto;
   text-align:left;
    color: #fff;
    margin-bottom: 50px;
}

.circle{
    position: relative;
  
    z-index: 0;
    display:grid;
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
   overflow-y: scroll;
   

}

.container2{
   background-color:#2b2726;
    position: relative;
    width: 100% ;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    color:#ffffff;
  

    /* overflow: scroll; */
}

.container2 h1{
    font-size: 3rem;
    grid-column: 2;
    text-align:center;
     padding-top: 100px;
    
}
.container2 a{
    color:#082744;
}
.wrap{
    overflow: hidden;
}
@keyframes scroll-vertical {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-80%); }
  }
  .innerbox{
    position: absolute;
    animation: scroll-vertical 20s  1;


  }
.proj{
    z-index: 5;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    margin-bottom: 0%;
    border-bottom: 10px solid black; 
    width: auto;
    height: 80vh;
}

.proj p{
   position: relative;
   text-align: left;
}
.proj img:hover{
transform: scale(1.1);
opacity: 1;

}

.proj img{
    position: relative;
    width: 100%;
    height: 100%;
    filter: grayscale(10);
    transition: transform 0.3s ease-in 0.2s ;
}
.aboutproj{
    background-color: #632F0B;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.big1{
    display: grid;
    grid-template-rows: .3fr 1fr;
    position: relative;
    width: 100%;
    height: 100vh;
    color:#ffffff;
    opacity: 100%;
    background-color:transparent;

    
}
.row2{
    grid-row: 2;
    display: grid;
    padding-bottom: 0%;
    grid-template-columns: 1fr 1fr;
}
.heading h1{
    font-size: 3rem;
    text-align: center;
}
.team img {
position: absolute;
width: 50%;
height:100vh;
filter: grayscale(1);
opacity: .7;

}

.team p {
    font-size: larger;
    position: relative;
    text-align: left;
    padding: 50px;
}
.team h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    position: relative;
}

.box2{
    background-color:transparent;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
    overflow: scroll;
   
}
.block{
    grid-row: auto;
    grid-column: auto;
    position: relative;
    width: 100%;
    margin: 0;
    display: block;
    box-sizing: border-box;
    z-index: 3;
   
}

.more{
    position: relative;
    width:100%;
    height:350px ;
    text-align: left;
    padding: 20px ;
    color: #082744;
    background-color: #FFF5D9;
    transform: rotateY(90deg);
}
@keyframes twirl {
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(90deg);}
    
}
.block:hover .mem1{
    animation: twirl 0.2s ease-in  linear;
}
.block:hover .more{
    animation: twirl 0.2s 0.2s ease-out  forwards reverse;
}
.mem1
{
position: absolute;
color: #ffffff;
background-color: #2d466f;
display: flex;
flex-direction: column;
text-align: center;
width: 100%;
height:350px;
padding: 30px;
justify-content: center;
}
.mem1 img{
    align-self: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.footer {
    position: relative;
    width: 100vw;
    text-align: center;
    font-size: small;
   background-color: #2b2726;
    color:#ffffff;
   ;
    margin-bottom: -9px;
    padding: 2rem 0;
    bottom: 0;
  }
  
  .footercontent {
    display: flex;
    justify-content: space-around;
  }
  
  .footersection {
    max-width: 300px;
  }
  
  .footersection h2 {
    color:#ffffff;;
  }
  
  .footersection ul {
    list-style: none;
    padding: 0;
  }
  
  .footersection a {
    text-decoration: none;
    color:#ffffff;
    margin: 5px;
  }
  
  .footerbottom {
    text-align: center;
    padding-top: 1rem;
  }
  .footerbottom p{
    margin-left: 30px;
    font-size: smaller;
  }
  *, *::before, *::after{
    box-sizing: border-box;    
}
.list {
    position: fixed;
    background-color:white;
    padding: 20px;
    top: 40vh;
   right: 0px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 0 50px 15px #48abe0;
}
.list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
   padding: 0;
   margin:0
}
.list ul li a {
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.list ul li a:hover {
    opacity: .9;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}


.list ul li a[href*='linkedin'] {
    background: #0077B5;
}
.list ul li a[href*='github'] {
    background: black;
}
.outerbox{
    margin-top: 130px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: 100%;
    overflow-y: scroll;
    align-items: center;
    color: #fff;
   
}
.outerbox p{
  
    font-size: larger;
    position: relative;
    text-align: left;
    padding: 50px;
}

.grid{

    position: relative;
    display: flex;
    height: 100vh;
    padding: 50px;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
   background-color:#FFF5D9;
  
}

.images{
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    overflow-y: scroll;
    animation: scroll-vertical 20s linear 1s infinite;
   
}
.images img{
    width:100% ;
    height: 400px;
    z-index: 1;

   
    
}

@media screen and (max-width: 700px)  {
body{
    font-size: smaller;
    overflow-x: hidden;
}
p{
    font-size: 18px;
}
.header {
    display: flex;
    flex-direction: column;
    height: 10vh; 
    align-items: end;
    background-color: transparent;
    justify-content: center;
    width: 100%;
}



.navOpen > div {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    padding: 10px;
    z-index: 1;
}
.navClose > div{
    display: none;
}

.navToggle {
    display: flex;
    z-index: 4;
    
   
}

.container1{
display: flex;
flex-direction: column;
}
.page1{
    height: 70vh;
    overflow: scroll;
}
.text{
position: relative;
height: 50vh;
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0%;
padding-bottom: 50px;
    
}
.para{
    height: 70vh;
    position: relative;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: column;
}

.proj{
  
    display: flex;
    flex-direction: column;
}

.wrap img{
   opacity: .3px;
    height:80vh;
}

.aboutproj{
    height: 80vh;
    position: absolute;
    box-shadow:inset  300px 300px 300px 300px rgba(0,0,0,0.6);
    background-color: transparent;
}
.big1{
    height: auto;
}
.row2{
    display: flex;
    flex-direction: column;

}
.team img{
    width: 100%;
    height: 70vh;
}
.outerbox{
    height: 110vh;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
}
.grid{
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;

}

.images{
    display: flex;
    flex-direction: row;
    animation: none;

}

}